Package: ttsandsttp-dbgsym
Package-Type: ddeb
Source: ttsandsttp
Version: 0.1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: digit1024 <digit1024@example.com>
Installed-Size: 3767
Depends: ttsandsttp (= 0.1.0-1)
Section: debug
Priority: optional
Description: debug symbols for ttsandsttp
Build-Ids: 0e6772deaf9b76f98e8eaac7c12a6ac8d2424cc3 6d9caf26e7b4fbe7c8f08cda7ebe9a3fcd586085 e826462e97e914252d958209a7c491847c9ea336
